<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Sql -->
      <package
            uri="uk.ac.bham.mongoMap.sql"
            class="uk.ac.bham.mongoMap.model.metamodel.sqlPackage"
            genModel="Sql.genmodel"/>
   </extension>

</plugin>